{% extends 'base.html' %}

{% block title %}Dashboard | AquaSmart{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='about_us.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class="about-project">
    <div class="header">
        <h1>Meet our team</h1>
        <p class="intro">
       We are a dedicated team of passionate innovators committed to transforming traditional aquaculture practices through technology. Our project, <i><b>“Development of Fish Farming Advisory System Using AI,”</b></i> aims to empower fish farmers with intelligent digital tools for smarter, more sustainable aquaculture management..
        </p>
    </div>
</div>
<div class="AB">
<div class="team-container">
    
    <div class="card-container">
        <!-- Member 1 -->
        <div class="card">
            <img src="\static\member1.jpg" alt="Member 1">
            <div class="card-content">
                <h2 class="name"> Niamul Mollik</h2>
                <p class="id">ID: 211002137</p>
                <p class="department">B.Sc in CSE</p>
                <p class="university">Green University of Bangladesh</p>
                <hr>
                <div class="social-icons">
                    <a href="https://www.facebook.com/tanjimfarabir.bashar?mibextid=ZbWKwL" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="card-hover-content">
                <img src="\static\member1.jpg" alt="Member 1">
                <div class="hover-content">
                    <h2 class="name">Niamul Mollik</h2>
                    <p class="id">ID: 211002137</p>
                    <p class="department">B.Sc in CSE</p>
                    <p class="university">Green University of Bangladesh</p>
                    <p class="description">Niamul Mollik contributed to the system design and backend coordination of the project. He focused on structuring the platform’s architecture, managing database operations, and ensuring smooth communication between the AI module and user interface. His analytical thinking and problem-solving skills played a vital role in optimizing system performance and enhancing user experience.</p>
                    <hr>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/tanjimfarabir.bashar?mibextid=ZbWKwL" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Member 2 -->
        <div class="card">
            <img src="\static\member2.jpg" alt="Member 2">
            <div class="card-content">
                <h2 class="name">Mehedi Hasan Lemon</h2>
                <p class="id">213002107</p>
                <p class="department">B.Sc in CSE</p>
                <p class="university">Green University of Bangladesh</p>
                <hr>
                <div class="social-icons">
                    <a href="https://www.facebook.com/mehedi.hasanlemon.988?mibextid=ZbWKwL" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="card-hover-content">
                <img src="\static\member2.jpg" alt="Member 2">
                <div class="hover-content">
                    <h2 class="name">Mehedi Hasan Lemon</h2>
                    <p class="id">213002107</p>
                    <p class="department">B.Sc in CSE</p>
                    <p class="university">Green University of Bangladesh</p>
                    <p class="description">Mehedi Hasan Lemon is the lead developer of the project, responsible for the implementation and integration of the AI-based fish farming advisory system. He developed the fish species classification model using machine learning techniques and ensured its seamless connection with the web platform. His strong technical expertise and dedication helped transform the system into a reliable and efficient tool for modern fish farming..</p>
                    <hr>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/mehedi.hasanlemon.988?mibextid=ZbWKwL" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
         <!-- Member 3 -->
        <div class="card">
            <img src="\static\member3.jpg" alt="Member 3">
            <div class="card-content">
                <h2 class="name"> Ayesha khatun</h2>
                <p class="id"> 213002126</p>
                <p class="department">B.Sc in CSE</p>
                <p class="university">Green University of Bangladesh</p>
                <hr>
                <div class="social-icons">
                    <a href="https://www.facebook.com/mehedi.hasanlemon.988?mibextid=ZbWKwL" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="card-hover-content">
                <img src="\static\member3.jpg" alt="Member 2">
                <div class="hover-content">
                    <h2 class="name">Ayesha khatun</h2>
                    <p class="id">213002126</p>
                    <p class="department">B.Sc in CSE</p>
                    <p class="university">Green University of Bangladesh</p>
                    <p class="description">Mehedi Hasan Lemon is the lead developer of the project, responsible for the implementation and integration of the AI-based fish farming advisory system. He developed the fish species classification model using machine learning techniques and ensured its seamless connection with the web platform. His strong technical expertise and dedication helped transform the system into a reliable and efficient tool for modern fish farming..</p>
                    <hr>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/mehedi.hasanlemon.988?mibextid=ZbWKwL" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}